# BigQuery Configuration

GOOGLE_CLOUD_PROJECT=your-project-id

GOOGLE_APPLICATION_CREDENTIALS=credentials.json

BQ_DATASET_RAW=crypto_raw

BQ_DATASET_STAGING=crypto_staging

BQ_DATASET_MART=crypto_marts


# API Configuration

COINGECKO_BASE_URL=https://api.coingecko.com/api/v3


# Logging

LOG_LEVEL=INFO